# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by Data Scientists
- Execute an arithmetic expression in Python

In this notebook, Data Science Tools and Ecosystem are sumarized

Some of the popular languages that Data Scientists use are:
- Python
- R
- Julia

Some of the commonly used libraries used by Data Scientis include:
- NumPy
- Pandas
- Matplotlib

|Data Science Tools|
----------------------------
|Jupyter Notebooks|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expression in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Claudio Cesar Orias Dominguez